#!/usr/bin/make -f

%:
	dh ${@} --buildsystem=phppear --with phpcomposer

override_dh_auto_build:
	phpab --output src/autoload.php src

execute_after_dh_installchangelogs:
	cp README.md debian/wordpress-plugin-authldap/usr/share/doc/wordpress-plugin-authldap/README
	sed -n '/==[[:space:]]*Changelog/,$$p' readme.txt > debian/wordpress-plugin-authldap/usr/share/doc/wordpress-plugin-authldap/CHANGELOG
